
<div class="header">
  <img src="convenio-header.png" class="img-fluid" alt="">
  <div class="overlay">
    <h1>Nuestros Convenios</h1>
  </div>
</div>


<!-- <img src="../../../assets/portada_convenios.png" class="img-fluid" alt=""> -->



<div class="container-image">
  <div *ngFor="let particle of particles" class="circle-container">
    <div class="circle"></div>
  </div>

  <div class="text-top text-center mb-4">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, aperiam iste possimus corporis excepturi
      incidunt voluptatum sapiente non veniam iure, sequi repellendus animi saepe quae? Accusantium minima dolores
      pariatur delectus!</h5>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="img-container">
          <img src="1.png" alt="Imagen 1" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="2.png" alt="Imagen 2" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="3.png" alt="Imagen 3" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="img-container">
          <img src="4.png" alt="Imagen 4" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="5.png" alt="Imagen 5" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="6.png" alt="Imagen 6" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="text-bottom text-center mt-4">
    INSTITUTO PERUANO DE TURISMO Y FINANZAS | CENTRO DE INVESTIGACIONES TURÍSTICAS Y GASTRONÓMICAS | ASOCIACIÓN
    GASTRONÓMICAS DE BOLIVIA - A.G.B | FEDERACIÓN GASTRONÓMICAS DE BOLIVIA - F.G.B. | ESCUELA GASTRONÓMICAS JUAN MEJÍA
    BACA | UNIVERSIDAD UNIOR | O.N.G. CADHIMAB
  </div>

</div>
