<div class="header">
  <img src="portada_convenios.png" class="img-fluid" alt="Portada de Convenios">
</div>
<div class="container-image">
  <div *ngFor="let particle of particles" class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="text-top text-center mb-4">
    <h5>
      Nuestros convenios institucionales establecen alianzas estratégicas con diversas organizaciones y entidades. Estas colaboraciones nos permiten ofrecer programas educativos y de capacitación más amplios y especializados, beneficiando a nuestros estudiantes con recursos y oportunidades únicas.
    </h5>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="img-container">
          <img src="1.png" alt="Imagen 1" class="img-fluid">
          <p class="img-description">ASOCIACIÓN GASTRONÓMICAS DE BOLIVIA - A.G.B </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="2.png" alt="Imagen 2" class="img-fluid">
          <p class="img-description">ESCUELA GASTRONÓMICAS JUAN MEJÍA BACA</p>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-4">
        <div class="img-container">
          <img src="3.png" alt="Imagen 3" class="img-fluid">
          <p class="img-description">FRATERNIDAD DE GASTRONOMOS DE BOLIVIA (F.G.B.)</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="4.png" alt="Imagen 4" class="img-fluid">
          <p class="img-description">INSTITUTO PERUANO DE TURISMO Y FINANZAS</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="5.png" alt="Imagen 5" class="img-fluid">
          <p class="img-description">FUNDACIÓN MUNASIM KULLAKITA</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="6.png" alt="Imagen 6" class="img-fluid">
          <p class="img-description">UNIVERSIDAD PRIVADAD DE ORURO UNIOR</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-container">
          <img src="7.png" alt="Imagen 7" class="img-fluid">
          <p class="img-description">CENTRO DE INVESTIGACIONES TURÍSTICAS Y GASTRONÓMICAS DEL PERÚ</p>
        </div>
      </div>
    </div>
  </div>
</div>
