.bg-image {
  background-image: url('../../../assets/portada_cursos.png');
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ajusta la altura según tus necesidades */
}
