
<div class="black-background">
  <div class="position-relative overflow-hidden p-3 p-md-5 mb-5 bg-light custom-background" style="background-image: url('b_atencion_cliente_background.png'); background-size: cover; background-position: center; background-repeat: no-repeat; animation: zoomInOut 10s;">
    <div class="col-md-5 p-lg-5 my-5 text-start">
      <h1 class="display-4 fw-normal animate-slide-in">Servicio de Atención al Cliente</h1>
      <p class="lead fw-normal mb-lg-5 animate-slide-in">A través de los años, la competencia entre compañías ha ido incrementándose y la variedad de productos ofrecidos en el mercado ha aumentado cada día más. Paralelamente, los clientes se vuelven cada vez más exigentes. Los consumidores ya no buscan solo calidad y buenos precios, sino también un buen servicio. Desarrollando en los participantes principios básicos y fundamentales de atención al cliente, con el fin de brindar soluciones frente a consultas, reclamos, del cliente al momento de realizar alguna compra o venta.</p>
      <a class="btn btn-lg custom-button" href="#">Inscríbite ahora</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row mx-5 align-items-stretch">
    <!-- Columna para la tarjeta (1/3) -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header align-items-center">
          Detalles del curso
        </div>
        <div class="card-body align-items-center">
          <a href="https://wa.me/59175987288?text=Más%20información%20acerca%20del%20curso%20de%20Atención%20al%20Cliente%20por%20favor." target="_blank" class="btn btn-primary inscribete-btn">Más información</a>
          <h6 class="mt-3"><strong>Este curso incluye:</strong></h6>
          <ul>
            <li>Equipamiento de primera calidad para realizar las prácticas.</li>
            <li>Docentes de primer nivel.</li>
            <li>Recursos multimedia.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Columna para los tabs (2/3) -->
    <div class="col-md-8 d-flex flex-column">
      <ul class="nav nav-tabs tabs-container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="horarios-tab" data-bs-toggle="tab" href="#horarios" role="tab" aria-controls="horarios" aria-selected="true">Horarios</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="objetivo-tab" data-bs-toggle="tab" href="#objetivo" role="tab" aria-controls="objetivo" aria-selected="false">Objetivo del Curso</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="campo-laboral-tab" data-bs-toggle="tab" href="#campo-laboral" role="tab" aria-controls="campo-laboral" aria-selected="false">Campo Laboral</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="publico-tab" data-bs-toggle="tab" href="#publico" role="tab" aria-controls="publico" aria-selected="false">Público dirigido</a>
        </li>
      </ul>
      <div class="tab-content flex-grow-1" id="myTabContent">
        <div class="tab-pane fade show active p-5" id="horarios" role="tabpanel" aria-labelledby="horarios-tab">
          <div class="row">
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases regulares de lunes a viernes</h6>
                <p>Duración: 5 meses</p>
                <ul>
                  <li>Turno Mañana de 8:00 a 11:30.</li>
                  <li>Turno Tarde de 15:00 a 18:30.</li>
                  <li>Turno Noche de 19:00 a 22:30.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
              <div class="vertical-line"></div>
            </div>
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases intensivas de fines de semana</h6>
                <p>Duración: 6 meses</p>
                <ul>
                  <li>Turno Mañana de 8:00 a 13:00.</li>
                  <li>Turno Tarde de 15:00 a 20:00.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-5" id="objetivo" role="tabpanel" aria-labelledby="objetivo-tab">
          <p>El Taller permitirá al participante:</p>
          <ul>
            <li>Adquirir las competencias necesarias para gestionar con eficiencia y eficacia la atención y servicio al cliente.</li>
            <li>Identificar los distintos tipos de clientes y aprender a resolver problemas en situaciones difíciles.</li>
            <li>Familiarizarse con el concepto de “Servicio de Calidad”.</li>
            <li>Fortalecer las habilidades de diálogo y comunicación eficaz.</li>
          </ul>
        </div>
        <div class="tab-pane fade p-5" id="publico" role="tabpanel" aria-labelledby="publico-tab">
          <p>El curso está dirigido a empresarios, emprendedores, profesionales, ejecutivos y colaboradores de las áreas de Comercialización, Marketing, Servicios, Operaciones y público en general relacionado directamente con la Atención y Servicio al cliente.</p>
        </div>
        <div class="tab-pane fade p-5" id="campo-laboral" role="tabpanel" aria-labelledby="campo-laboral-tab">
          <p>El egresado de Corporación Tunari podrá podrán desempeñarse en:</p>
          <ul>
            <li>Agencias de Marketing Digital</li>
            <li>Empresas de telefonía</li>
            <li>Departamentos de compra y venta</li>
            <li>Comerciales de compra y venta de artículos masivos</li>
            <li>Freelancers y Consultores Independientes</li>
            <li>Departamentos de Ventas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

