
<div class="black-background">
  <div class="position-relative overflow-hidden p-3 p-md-5 mb-5 bg-light custom-background" style="background-image: url('b_peluqueria_background.png'); background-size: cover; background-position: center; background-repeat: no-repeat; animation: zoomInOut 10s;">
    <div class="col-md-5 p-lg-5 my-5 text-start">
      <h1 class="display-4 fw-normal animate-slide-in">Estilismo en Peluquería</h1>
      <p class="lead fw-normal mb-lg-5 animate-slide-in">Nuestros estudiantes estarán capacitados para realizar técnicas de belleza aplicando diseños de acuerdo a la imagen de las personas. Proyectando un cambio de imagen favorable para el/la cliente, trabajando siempre en condiciones de calidad, seguridad e higiene.</p>
      <a class="btn btn-lg custom-button" href="#">Inscríbite ahora</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>


<div class="container-fluid my-5">
  <div class="row mx-5 align-items-stretch">
    <!-- Columna para la tarjeta (1/3) -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          Detalles del curso
        </div>
        <div class="card-body">
          <span>Costo: </span>
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title d-inline-block">Bs. 1500</h3>
            <button class="btn btn-primary inscribete-btn">Inscríbete</button>
          </div>
          <h6 class="mt-3">Este curso incluye:</h6>
          <ul>
            <li>Equipamiento de primera calidad para realizar las prácticas.</li>
            <li>Docentes de primer nivel.</li>
            <li>Recursos multimedia.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Columna para los tabs (2/3) -->
    <div class="col-md-8 d-flex flex-column">
      <ul class="nav nav-tabs tabs-container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="horarios-tab" data-bs-toggle="tab" href="#horarios" role="tab" aria-controls="horarios" aria-selected="true">Horarios</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contenido-tab" data-bs-toggle="tab" href="#contenido" role="tab" aria-controls="contenido" aria-selected="false">Contenido</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="certificacion-tab" data-bs-toggle="tab" href="#certificacion" role="tab" aria-controls="certificacion" aria-selected="false">Certificacion</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="campo-laboral-tab" data-bs-toggle="tab" href="#campo-laboral" role="tab" aria-controls="campo-laboral" aria-selected="false">Campo Laboral</a>
        </li>
      </ul>
      <div class="tab-content flex-grow-1" id="myTabContent">
        <div class="tab-pane fade show active p-5" id="horarios" role="tabpanel" aria-labelledby="horarios-tab">
          <div class="row">
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases regulares</h6>
                <ul>
                  <li>Turno Mañana de 9:00 a 11:00.</li>
                  <li>Turno Tarde de 14:30 a 16:30.</li>
                  <li>Turno Noche de 19:00 a 21:00.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
              <div class="vertical-line"></div>
            </div>
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases intensivas de sábados</h6>
                <ul>
                  <li>Turno Mañana de 8:30 a 12:30.</li>
                  <li>Turno Tarde de 14:00 a 18:00.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-5" id="campo-laboral" role="tabpanel" aria-labelledby="campo-laboral-tab">
          <p>Al terminar sus estudios, el estudiante de peluquería y cosmetología podrá realizar:</p>
          <ul>
            <li>Diseño de Color.</li>
            <li>Estilismo utilizando cortes modernos de acorde a la moda.</li>
            <li>Uñas acrílicas y de cristal.</li>
            <li>Rizado y extensión de pestañas.</li>
            <li>Maquillaje facial y corporal con efectos especiales.</li>
            <li>Peinados de novias, 15 años.</li>
            <li>Visagismo del rostro.</li>
            <li>Botox Capilar.</li>
            <li>Lifting de pestañas.</li>
            <li>Manicura.</li>
            <li>Pedicura.</li>
            <li>Cortes de Varón - Mujer</li>
          </ul>
          <p>Los egresados del curso son capaces de desempeñarse con mucho éxito en grandes Salones de Belleza, medios audiovisuales como maquillistas profesionales en el área de Spots publicitarios, cine y televisión.</p>
        </div>
        <div class="tab-pane fade p-5" id="certificacion" role="tabpanel" aria-labelledby="certificacion-tab">
          <p>La Corporación Tunari te entregará un Certificado Oficial emitido por el Ministerio de Educación para ejercer en todo el territorio Nacional. También se le entregará un Certificado Institucional.</p>
        </div>
        <div class="tab-pane fade p-5" id="contenido" role="tabpanel" aria-labelledby="contenido-tab">
          <p>Estilismo en Peluquería:</p>
          <ul>
            <li>Despunte, peinados con plancha, trenzas, moños, cola, permanentes, cortes dama y varón, lavados, manicura y pedicura.</li>
          </ul>
          <p>Maquillaje:</p>
          <ul>
            <li>Casual, gala, día y noche, artístico, terror, fantasía, auto maquillaje y más.</li>
          </ul>
          <p>Cosmetología:</p>
          <ul>
            <li>Diagnóstico de piel, masaje, exfoliación, peeling, hidratación.</li>
          </ul>
          <p>Colorimetría:</p>
          <ul>
            <li>Rayitos, tintes, mechas y reflejos, decoloraciones, balayage, nuevas técnicas de color, diseño de uñas acrílicas, uñas en gel, uñas 3D, y mucho más.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0 course-preview-bg">
    <div class="row mt-5 align-items-center height-row">
      <div class="col-md-5 d-flex align-items-center">
        <div class="course-description p-4">
          <h4>Previa del Curso</h4>
          <p>En este curso aprenderás todo lo necesario sobre estilismo en peluquería. Desde técnicas de corte y coloración hasta las últimas tendencias en peinados, nuestros expertos te guiarán a través de cada paso.</p>
          <p>Este curso es ideal para principiantes y profesionales que desean perfeccionar sus habilidades en el mundo de la peluquería. ¡Inscríbete ahora y comienza a transformar tu pasión en arte!</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wN0Y5TZ7wM0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

