$primary-color: #800020;
$secondary-color: #2C6772;
$text-color-light: #ffffff;
$text-color-dark: #333333;
$border-color: #ccc;
$hover-background-color: darken($primary-color, 10%);
$hover-border-color: darken($secondary-color, 10%);

.table-custom {
  background-color: $secondary-color;
  border-color: $border-color;

  th {
    background-color: $secondary-color;
    color: $text-color-light;
  }

  td {
    color: $text-color-dark;
  }

  tbody tr:hover {
    background-color: lighten($secondary-color, 10%);
  }
}

.btn-custom-add {
  background-color: $primary-color;
  color: $text-color-light;
  border: none;

  &:hover {
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
}

.modal-custom .modal-content {
  background-color: $text-color-light;
  border: 1px solid $secondary-color;
  color: $text-color-dark;
}

.modal-custom .modal-header {
  background-color: $primary-color;
  color: $text-color-light;
}

.modal-custom .btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
}


.main-view {
  height: 80vh;
  padding-top: 2em;
}

