<div class="container-fluid p-0">
  <div class="position-relative">
    <img src="portada_actividades.png" alt="Portada de Cursos" class="img-fluid w-100">
    <div class="overlay-text">
      <h1 class="">Actividades de nuestra corporación</h1>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">

    <!-- Primer video -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9N7lZN5NOHM" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Festejando el día del Niño 2025</h5>
          <p class="card-text">En homenaje al Día del Niño, nuestros estudiantes de la clase de Gastronomía de la Corporación Tunari pusieron manos a la obra para preparar con amor un delicioso desayuno dedicado a los niños y niñas cochabambinos.</p>
        </div>
      </div>
    </div>

    <!-- Segundo video -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-5jno1LS37Q" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Festejando el día del Padre 2025</h5>
          <p class="card-text">En el marco del Día del Padre, se rindió un homenaje especial a los padres de la tercera edad, reconociendo su sabiduría, entrega y ejemplo de vida.
            Nuestros estudiantes de la carrera de Gastronomía prepararon un desayuno lleno de sabor, amor y respeto, como muestra de gratitud hacia quienes han dado tanto.</p>
        </div>
      </div>
    </div>

    <!-- Tercer video -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/STTVIW1cB-Y" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Sabores de mi Llajta 4ta versión</h5>
          <p class="card-text">Asistimos a la 4ta versión del evento culinario más grande de Cochabamba: Sabores de mi Llajta. Acompañados de nuestros mejores chefs los cuales tambien forman parte del plantel docente de nuestra corporación.</p>
        </div>
      </div>
    </div>

    <!-- Cuarto video -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1eHPsIID_Po" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Curso Navideño de Repostería 2023</h5>
          <p class="card-text">El 2023, nuestro curso navideño trajo alegría y creatividad a todos los participantes. Este año, estamos trabajando en mejorar cada detalle para ofrecerte una experiencia aún más completa. ¡Pronto tendremos novedades!.</p>
        </div>
      </div>
    </div>
  </div>
</div>
