
<div class="black-background">
  <div class="position-relative overflow-hidden p-3 p-md-5 mb-5 bg-light custom-background">
    <div class="col-md-5 p-lg-5 my-5 text-start">
      <h1 class="display-4 fw-normal animate-slide-in">Coctelería</h1>
      <p class="lead fw-normal mb-lg-5 animate-slide-in">Formamos a jóvenes y señoritas en el mundo de la Coctelería Bartender, donde aprenderán las diferentes técnicas de elaboración y decoración de tragos y las principales técnicas de coctelería detrás de barra para que puedan desenvolverse profesionalmente tanto a nivel local como nacional. A su vez, durante el curso aprenderán el protocolo de atención para brindar un servicio de coctelería en eventos.</p>
      <a class="btn btn-lg custom-button" href="#">Inscríbite ahora</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row mx-5 align-items-stretch">
    <!-- Columna para la tarjeta (1/3) -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          Detalles del curso
        </div>
        <div class="card-body">
          <span>Costo: </span>
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title d-inline-block">Bs. 1200</h3>
            <button class="btn btn-primary inscribete-btn">Inscríbete</button>
          </div>
          <h6 class="mt-3">Este curso incluye:</h6>
          <ul>
            <li>Equipamiento de primera calidad para realizar las prácticas.</li>
            <li>Docentes de primer nivel.</li>
            <li>Recursos multimedia.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Columna para los tabs (2/3) -->
    <div class="col-md-8 d-flex flex-column">
      <ul class="nav nav-tabs tabs-container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="horarios-tab" data-bs-toggle="tab" href="#horarios" role="tab" aria-controls="horarios" aria-selected="true">Horarios</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="campo-laboral-tab" data-bs-toggle="tab" href="#campo-laboral" role="tab" aria-controls="campo-laboral" aria-selected="false">Campo Laboral</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="publico-tab" data-bs-toggle="tab" href="#publico" role="tab" aria-controls="publico" aria-selected="false">Público dirigido</a>
        </li>
      </ul>
      <div class="tab-content flex-grow-1" id="myTabContent">
        <div class="tab-pane fade show active p-5" id="horarios" role="tabpanel" aria-labelledby="horarios-tab">
          <div class="row">
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases regulares de lunes a viernes</h6>
                <p>Duración: 5 meses</p>
                <ul>
                  <li>Turno Mañana de 8:00 a 11:30.</li>
                  <li>Turno Tarde de 15:00 a 18:30.</li>
                  <li>Turno Noche de 19:00 a 22:30.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
              <div class="vertical-line"></div>
            </div>
            <div class="col-md-5">
              <div class="schedule">
                <h6>Clases intensivas de sábados</h6>
                <p>Duración: 6 meses</p>
                <ul>
                  <li>Turno Mañana de 8:00 a 11:00.</li>
                  <li>Turno Tarde de 14:00 a 17:00.</li>
                  <li>Turno Noche de 19:00 a 22:00.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-5" id="publico" role="tabpanel" aria-labelledby="publico-tab">
          <p>El curso está dirigido a estudiantes de colegio, bachilleres, universitarios, amas de casa, público general y personas interesadas en dominar las Técnicas de Coctelería.</p>
        </div>
        <div class="tab-pane fade p-5" id="campo-laboral" role="tabpanel" aria-labelledby="campo-laboral-tab">
          <p>El estudiante podrá desempeñar laboralmente en restaurantes, hoteles, acontecimientos sociales, boliches y sobre todo podrá iniciar su propio negocio. Asimismo, nuestro egresados innovan con los diferentes insumos para la preparación de nuevas bebidas.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0 course-preview-bg">
    <div class="row mt-5 align-items-center height-row">
      <div class="col-md-5 d-flex align-items-center">
        <!-- Descripción del curso -->
        <div class="course-description p-4">
          <h4>Previa del Curso</h4>
          <p>En este curso aprenderás todo lo necesario sobre gastronomía. Desde técnicas culinarias hasta la presentación de platos, nuestros expertos te guiarán a través de cada paso.</p>
          <p>Este curso es ideal para principiantes y profesionales que desean mejorar sus habilidades culinarias. ¡Inscríbete ahora y comienza tu viaje culinario!</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dSXUUMUv910" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5 course-section">
    <div class="row justify-content-center align-items-center height-row">
      <h2 class="text-start mb-4 small-title">Mini cursos relacionados a la gastronomía</h2>
      <div class="col-lg-4 d-flex align-items-stretch mb-4">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
            <img src="../../../../assets/llajua_imagen.png" class="rounded-circle zoom-effect" width="140" height="140" alt="Course Image">
            <h3 class="my-3">Llajua k'ochala</h3>
            <p>Aprende a preparar la típica llajua cochabambina paso a paso con este minicurso.</p>
            <p class="mt-auto"><a class="btn btn-secondary" href="#">Más detalles »</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 d-flex align-items-stretch mb-4"></div>
      <div class="col-lg-4 d-flex align-items-stretch mb-4">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column align-items-center justify-content-between text-center">
            <img src="../../../../assets/filet_imagen.png" class="rounded-circle zoom-effect" width="140" height="140" alt="Course Image">
            <h3 class="my-3">Filet Mignon</h3>
            <p>Aprende a preparar un delicioso Filet Mignon con nuestro Chef Juan Carlos Zabala Quiroga.</p>
            <p class="mt-auto"><a class="btn btn-secondary" href="#">Más detalles »</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

