
<div class="black-background">
  <div class="position-relative overflow-hidden p-3 p-md-5 mb-5 bg-light custom-background"
       style="background-image: url('receta_filet_mignon.png'); background-size: cover; background-position: center; background-repeat: no-repeat; animation: zoomInOut 10s;">
    <div class="col-md-5 p-lg-5 my-5 text-start">
      <h1 class="display-4 fw-normal animate-slide-in">Charquekán</h1>
      <p class="lead fw-normal mb-lg-5 animate-slide-in">Esta receta esta gratis por el momento, ¿qué esperas para aprender?</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="container-fluid p-0 course-preview-bg">
    <div class="row mt-5 align-items-center height-row">
      <div class="col-md-5 d-flex align-items-center">
        <div class="course-description p-4">
<!--          <h4>Previa del Curso</h4>-->
          <p>Nuestro Chef Juan Carlos Zabala te enseña a preparar un delicioso Charquekán. ¡Inscríbete al cursos de Técnicas Culinarias para aprender más!</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dSXUUMUv910" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

