<!-- <header> -->
  <!-- <div class="top-bar">
    <button class="btn btn-sm btn-light rounded-pill px-2" type="button">Iniciar sesión</button>
    <ul class="social-links">
      <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-tiktok"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div> -->
  <div class="mainbar">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex align-items-center justify-content-between">

        <a class="navbar-brand me-auto" href="/home">
          <img src="logo_borde_blanco2_small.png" alt="Tunari Logo" class="logo-img img-fluid d-none d-md-inline">
        </a>

        <!-- <a class="navbar-brand me-auto" href="/home">
          <img src="../../../../assets/logo_borde_blanco2.png" alt="Tunari Logo" class="logo-img img-fluid d-none d-md-inline">
          <img src="../../../../assets/logo_borde_blanco2_small.png" alt="Tunari Logo Small" class="logo-img img-fluid d-inline d-md-none">
        </a> -->

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/sobre-nosotros">Nuestra corporación</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cursos
                </a>
                <ul class="dropdown-menu custom-dropdown-menu">
                  <div class="container">
                    <div class="row custom-row">
                      <!-- Cursos síncronos -->
                      <div class="col-md custom-col">
                        <h6 class="dropdown-header">Cursos síncronos</h6>
                        <a class="dropdown-item" href="/cursos/gastronomia2">Gastronomía</a>
                        <a class="dropdown-item" href="/cursos/cocteleria">Coctelería</a>
                        <a class="dropdown-item" href="/cursos/reparacion-de-celulares">Reparación de Celulares</a>
                        <a class="dropdown-item" href="/cursos/peluqueria">Estilismo en Peluquería</a>
                        <a class="dropdown-item" href="/cursos/atencion-al-cliente">Atención al Cliente</a>
                      </div>
                      <!-- Cursos asíncronos -->
                      <div class="col-md custom-col">
                        <h6 class="dropdown-header">Cursos asíncronos</h6>
                        <a class="dropdown-item" href="/cursos/diseño-dimensional">Diseño Dimensional</a>
                        <a class="dropdown-item" href="/cursos/computacion">Office (Computación)</a>
                        <a class="dropdown-item" href="/cursos/marketing-digital">Marketing Digital</a>
                      </div>
                      <!-- Mini cursos -->
                      <div class="col-md custom-col">
                        <h6 class="dropdown-header">Mini cursos</h6>
                        <a class="dropdown-item" href="/mini-cocina">Llajua K'ochala</a>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="/cursos">Todos nuestros cursos</a>
                  </div>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/convenios">Convenios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/actividades">Actividades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/graduados">Graduados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center">
            <a href="/iniciar-sesion" class="contact-button me-2">Iniciar Sesión</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
  </div>
<!-- </header> -->
