<div class="header">


  <img src="tunari-portada.jpg" class="img-fluid" alt="">


  <div class="overlay">
    <img src="logo_borde_blanco2.png" class="logo" alt="Logo">
  </div>

</div>


<div class="container-info my-5">
  <div class="row">
    <!-- <div class="col-md-4">
        <div class="content-box">
          <img src="assets/logo_borde_blanco2.png" alt="Logo" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
      </div> -->
    <div class="col-md-12">
      <div class="content-box">

        <div class="text-box" style="padding-bottom: 15px;">
          <div class="text-content" style="font-size: 18px; font-weight: 400; text-transform: none; color: #000000;">
            <h3>Quienes somos</h3>
            <p>EL CENTRO DE CAPACITACIÓN TÉCNICA PRIVADA “CORPORACIÓN TUANRI S.R.L” con Res. Min. 1189/2018 Y
              Resolución Ministerial 1098/2023, es una institución creada el 20 de octubre del año 2016, con el
              objetivo de ofrecer cursos de capacitación al 100% prácticas para la juventud boliviana, profesionales y
              público en general.</p>
            <p>Uno de los principios desde la fundación de Corporación Tunari S.R.L., es la formación práctica y
              enseñanza moderna, para que los jóvenes, personas adultas, profesionales y maestros, puedan seguir
              capacitándose para alcanzar altos niveles de vida en el campo laboral, que les permita tener una vida
              exitosa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row video-container">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dSXUUMUv910" allowfullscreen></iframe>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div
            class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
            style="padding-bottom: 30px;">
            <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 29px;">
              <i (click)="navigateTo('sobre-nosotros')" class="bi bi-easel icon-large"></i>
            </div>
            <div class="gdlr-core-column-service-content-wrapper">
              <div class="gdlr-core-column-service-title-wrap">
                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                  style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">Nuestra corporación</h3>
              </div>
              <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit repellat iure sequi, qui
                  tempora. Sunt labore nisi fugiat sequi consequatur magni? Est totam, consequuntur necessitatibus
                  ipsum ut doloribus sequi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div
            class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
            style="padding-bottom: 30px;">
            <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 29px;">
              <i (click)="navigateTo('actividades')" class="bi bi-cup-hot-fill icon-large"></i>
            </div>
            <div class="gdlr-core-column-service-content-wrapper">
              <div class="gdlr-core-column-service-title-wrap">
                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                  style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">Actividades</h3>
              </div>
              <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti hic at doloremque natus porro
                  veritatis ut suscipit nihil officia illum, recusandae odit distinctio, officiis veniam nostrum non
                  reiciendis vitae laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div
            class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-top gdlr-core-no-caption gdlr-core-item-pdlr"
            style="padding-bottom: 30px;">
            <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 29px;">
              <i (click)="navigateTo('graduados')" class="bi bi-cake icon-large"></i>
            </div>
            <div class="gdlr-core-column-service-content-wrapper">
              <div class="gdlr-core-column-service-title-wrap">
                <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                  style="font-size: 21px ;font-weight: 700 ;text-transform: none ;">Graduados</h3>
              </div>
              <div class="gdlr-core-column-service-content" style="font-size: 16px ;text-transform: none ;">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda tempora amet consequatur
                  perferendis facilis! Tenetur esse ab eligendi nihil reprehenderit temporibus eveniet similique. Esse
                  facilis voluptatibus itaque explicabo, perspiciatis delectus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




<div class="container course-container">
  <div class="row">
    <h3>Cursos</h3>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_gastronomia_background.png')"
        (click)="navigateTo('cursos/gastronomia2')">
        <h5 class="card-title">Gastronomía</h5>
        <div class="card-body">
          <p>Formamos a jóvenes y señoritas en el mundo de la Gastronomía donde aprenderán a elaborar platos de Cocina
            Nacional, Internacional, Repostería, Panadería y Pastelería, desarrollando conocimientos para el diseño de
            menú en una amplia variedad de recetas para instituciones.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_cocteleria_background.png')"
        (click)="navigateTo('cursos/cocteleria')">
        <h5 class="card-title">Coctelería</h5>
        <div class="card-body">
          <p>Formamos a jóvenes y señoritas en el mundo de la Coctelería Bartender, donde aprenderán las diferentes
            técnicas de elaboración y decoración de tragos y las principales técnicas de coctelería detrás de barra
            para que puedan desenvolverse profesionalmente tanto a nivel local como nacional. A su vez, durante el
            curso aprenderán el protocolo de atención para brindar un servicio de coctelería en eventos.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_reparacion_celulares_background.png')"
        (click)="navigateTo('cursos/reparacion-de-celulares')">
        <h5 class="card-title">Reparación de Celulares</h5>
        <div class="card-body">
          <p>Formamos a futuros jóvenes, técnicos especialistas en resolver problemas de los diferentes tipos de
            celulares, iPhone y tablets a requerimiento y solicitud del cliente. Teniendo un amplio conocimiento en
            manejo de herramientas, con habilidad y destreza en el manejo de hardware y software.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_peluqueria_background.png')"
        (click)="navigateTo('cursos/peluqueria')">
        <h5 class="card-title">Estilismo en Peluquería</h5>
        <div class="card-body">
          <p>Nuestros estudiantes estarán capacitados para realizar técnicas de belleza aplicando diseños de acuerdo a
            la imagen de las personas. Proyectando un cambio de imagen favorable para el/la cliente, trabajando
            siempre en condiciones de calidad, seguridad e higiene.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_atencion_cliente_background.png')"
        (click)="navigateTo('cursos/atencion-al-cliente')">
        <h5 class="card-title">Atención al Cliente</h5>
        <div class="card-body">
          <p>A través de los años, la competencia entre compañías ha ido incrementándose y la variedad de productos
            ofrecidos en el mercado ha aumentado cada día más. Paralelamente, los clientes se vuelven cada vez más
            exigentes. Los consumidores ya no buscan solo calidad y buenos precios, sino también un buen servicio.
            Desarrollando en los participantes principios básicos y fundamentales de atención al cliente, con el fin
            de brindar soluciones frente a consultas, reclamos, del cliente al momento de realizar alguna compra o
            venta.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_diseno_background.png')"
        (click)="navigateTo('cursos/diseño-dimensional')">
        <h5 class="card-title">Diseño Dimensional</h5>
        <div class="card-body">
          <p>El estudiante de Diseño dimensional Gráfico Publicitario conocerá y aplicará herramientas de diseño
            publicitario y diseños 3D, para desarrollar e impulsar la marca de una organización o empresa, empleando
            programas de última generación requerido en ambientes de trabajo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_computacion_background.png')"
        (click)="navigateTo('cursos/computacion')">
        <h5 class="card-title">Office (Computación)</h5>
        <div class="card-body">
          <p>El estudiante de Computación estará capacitado para desarrollar herramientas tecnológicas de alto nivel
            mediante programas de ofimática para dar solución a los requerimientos empresariales.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card" style="background-image: url('b_marketing_digital_background.png')"
        (click)="navigateTo('cursos/marketing-digital')">
        <h5 class="card-title">Marketing Digital</h5>
        <div class="card-body">
          <p>Vivimos en el tiempo de la comunicación. Donde cada institución o persona quiere realizar actividades de
            compra o venta en un mundo contemporáneo para ello debe tener un dominio profundo de las nuevas
            herramientas y técnicas relacionadas con la comunicación digital y las redes sociales, pues esta juega un
            papel transversal que afecta a las personas e instituciones. El curso de compras y ventas online
            (marketing digital) a través de las redes sociales contribuirá de gran manera a las empresas y negocios a
            realizar que sus negocios sean más productivos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
