body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, #2C6772);
  color: white;
}

.img-fluid.portada {
  width: 100%;
  height: auto;
}

.quienes-somos-section {
  position: relative;
  width: 100%;
  height: 75vh; /* Ocupa el 75% de la altura de la página */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //TODO:
  background: url('../../../../public/cotact_us_main.png') no-repeat center center; 
  background-attachment: fixed; /* Efecto parallax */
  background-position: center; /* Centra la imagen de fondo */
  z-index: 1; /* Asegura que esté detrás del contenido */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
  z-index: 2; /* Asegura que esté sobre la imagen de fondo */
}

.content {
  position: relative;
  z-index: 3; /* Asegura que esté sobre el overlay */
  display: flex;
  flex-direction: column; /* Ajusta los elementos en una columna */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  //padding: 1.5rem; /* Añadido padding para evitar que el texto esté pegado a los bordes */
  opacity: 1; /* Asegúrate de que el contenido sea visible */
}

.content h1 {
  margin-bottom: 1rem; /* Añade un margen inferior para separar el título del texto */
}
.content p {
  padding: 10rem; /* Añade un margen inferior para separar el título del texto */
}












.mision-section {
  margin-top: 2rem; /* Espacio superior para separar de la sección anterior */
  padding: 2rem 0; /* Añadido padding para espacio interno */
}

.mision-content, .mision-image {
  opacity: 0; /* Oculta inicialmente */
  transform: translateX(-150px); /* Mueve hacia la izquierda para el efecto */
  transition: opacity 6s ease-in-out, transform 2s ease-in-out;
  /* Ajusta según el ancho de la ventana */
}

.mision-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Margen interno para el texto */
  height: 100%;
}

.mision-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mision-image img {
  width: 80%;
  height: auto;
}

.animate {
  animation: fadeInAndSlideIn 6s forwards;
}

@keyframes fadeInAndSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mision-image.animate {
  animation: fadeInAndSlideInReverse 6s forwards;
}

@keyframes fadeInAndSlideInReverse {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
