
<!--<img src="../../../assets/portada_acerca%20de.png" class="img-fluid portada" alt="">-->
<main class="content">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12 quienes-somos-section d-flex align-items-center justify-content-center">
        <div class="background-image"></div>
        <div class="overlay"></div>
        <div class="content text-center text-white content-padding">
          <h1>Quienes Somos:</h1>
          <p>
            EL CENTRO DE CAPACITACIÓN TÉCNICA PRIVADA “CORPORACIÓN TUNARI S.R.L” con Res. Min. 1189/2018 Y Resolución Ministerial 1098/2023, es una institución creada el 20 de octubre del año 2016, con el objetivo de ofrecer cursos de capacitación al 100% prácticas para la juventud boliviana, profesionales y público en general.
            Uno de los principios desde la fundación de Corporación Tunari S.R.L., es la formación práctica y enseñanza moderna, para que los jóvenes, personas adultas, profesionales y maestros, puedan seguir capacitándose para alcanzar altos niveles de vida en el campo laboral, que les permita tener una vida exitosa.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="mision-section">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-5 p-5 mision-content animate">
        <h2>MISIÓN</h2>
        <p>
          Formar profesionales íntegros, competentes y comprometidos con el desarrollo, mediante procesos educativos sistemáticos e integrales de calidad para la intervención en los sectores sociales, económicos, culturales del país, a través del estudio y perfeccionamiento en la enseñanza técnica.
        </p>
      </div>
      <div class="col-md-7 mision-image animate">
        <img src="../../../assets/gastronomia_foto.jpg" alt="Imagen de Misión" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="mision-section">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-7 mision-image animate">
        <img src="../../../assets/reposteria_foto.jpg" alt="Imagen de Misión" class="img-fluid">
      </div>
      <div class="col-md-5 p-5 mision-content animate">
        <h2>VISIÓN</h2>
        <p>
          El Centro De Capacitación Técnica Privada “CORPORACIÓN TUNARI S.R.L.” tiene como visión ser en centro de capacitación líder en la formación práctica con una estructura orgánica sólida, integrada y eficiente, que cumple con su misión a través de su personal calificado y con una imagen de excelencia reconocida por la sociedad.
        </p>
      </div>
    </div>
  </div>
</section>

